.header {
  position: relative;
  z-index: 2;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar {
  padding: 0.3rem 0; /* Reduced padding */
  align-content: center;
  transition: background-color 0.3s ease; 
}

.navbar-dark-scrolled {
  background-color: rgba(0, 0, 0, 1); 
}

.navbar .container {
  max-width: 100vw;
}

.navbar-collapse .navbar-nav {
  position: relative;
}

.navbar-brand {
  justify-self: center;
}

.navbar-brand .logo-img {
  height: 40px; /* Adjusted logo height */
}

.nav-item {
  position: relative;
  padding-left: 0.5em; /* Adjusted padding */
  font: normal normal normal 18px/22px Roboto; /* Reduced font size */
  padding-right: 0.5em; /* Adjusted padding */
}

.nav-link {
  color: #fffffff2 !important;
  transition: color 0.3s ease; 
}

.nav-link.active {
  color: #007bff; 
  font-weight: bold; 
}

.nav-link:hover {
  color: #ddd; 
  text-decoration: underline;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
